.orientation {
    >div {width: 90%;
        margin-left: auto;
        margin-right: auto;}
    >div:first-child {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
.prev {
    position: relative;
    p {
        top: 157px;
        left: 100px;
        width: 570px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        color: #FFFFFF;
}}

.d1 {
    display: inline-flex;
    vertical-align: middle;
    >div:last-child {
        width: 579px;
        height: 256px;
        left: 666px;
        top: 38px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
        
    }
}
.items {
    height: 317px;
    width: 296px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 40px;
    }
    h3 {
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
    }
}
.title {
    overflow: hidden;
    text-align: center;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 80px;
    color: #91D0E4;
    padding-top: 50px;
    padding-bottom: 30px;
    
}
.title span {
    display: inline-block;
    vertical-align: middle;
}
.title:before,
.title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 305px;
    height: 2px;
    background-color: #91D0E4;
    position: relative;
}
.title:before {
    margin-left: -100%;
    left: -19px;
}
.title:after {
    margin-right: -100%;
    right: -19px;
}