.contacts {
    >div {width: 90%;
        margin-left: auto;
        margin-right: auto;}
    >div:first-child {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
.prev {
    position: relative;
    h6 {
        top: 142px;
        left: 78px;
        width: 674px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: #FFFFFF;
        position: absolute;
    }}

.text {
    p {font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;}
    }

.line {
    border: 2px solid #91D0E4;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 40px;
    margin-top: 40px;
}

.title {
    overflow: hidden;
    text-align: center;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 80px;
    color: #91D0E4;
    padding-top: 50px;
    padding-bottom: 30px;
    
    span {
        display: inline-block;
        vertical-align: middle;
    }
    &:before,
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 305px;
        height: 2px;
        background-color: #91D0E4;
        position: relative;
    }
    &:before {
        margin-left: -100%;
        left: -19px;
    }
    &:after {
        margin-right: -100%;
        right: -19px;
    }
}
