.header {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;

    &__logo {
        flex: 1;
    }
    &__menu {
        flex: 2;
        text-align: right;
        margin-right: 21px;
        > div {
            display: inline-block;
            margin-left: 50px;
        };
        a { 
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 40px;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
    &__icons {
        width: 90px;
        display: flex;
        margin-right: 15px;
        > div:first-child {
            margin-left: 9px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 40px;
            color: #91D0E4;
        }
        > div {
            margin-left: 9px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 40px;
            color: #FFFFFF;
        }
    }
    
}