.orientation {
    >div {width: 90%;
        margin-left: auto;
        margin-right: auto;}
    >div:first-child {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
.prev {
    position: relative;
    h1 {
        top: 135px;
        left: 85px;
        width: 570px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 120px;
        color: #FFFFFF;
        position: absolute;
    }
}
.new {
    display: grid;
    >div {border: none;
        width: 100%;
        height: auto;}
    h2 {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 34px;
        margin-bottom: 41px;
    }
    &__note {
        margin-left: 0px;
        h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 40px;
            text-decoration-line: underline;
            color: #FFFFFF;
            margin-bottom: 0;
            margin: 0;
        }
        h4 { margin: 0;
            margin-bottom: 30px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: #FFFFFF;
        }
        a.button {
            float: right;
            height: 48px;
            width: 206px;
            background: #91D0E4;
            border-radius: 10px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            color: #00052E;
            line-height: 48px;
            text-decoration: none;
            &:active {
                transform: scale(0.98);
                box-shadow: 3px 2px 22px 1px rgba(18, 161, 205, 0.24);
            }
          }
    }
}
.line {
    border: 2px solid #91D0E4;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 40px;
    margin-top: 42px;
}
.title_news {
    overflow: hidden;
    text-align: center;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 80px;
    color: #91D0E4;
    padding-top: 50px;
    padding-bottom: 20px;

    span {width: 190px;
        display: inline-block;
        vertical-align: middle;
    }
    &:before,
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 196px;
        height: 2px;
        background-color: #91D0E4;
        position: relative;
    }
    &:before {
        margin-left: -100%;
        left: -19px;
    }
    &:after {
        margin-right: -100%;
        right: -19px;
    }
}
.conteiner {
    width: 165px;
    height: 70px;
    display: flex;
    justify-content: center;
}
.arrow {
    position: relative;
    width: 62px;
    height: 62px;
    border: 2.5px solid #91D0E4;
    background: #00052E;
    border-radius: 50%;
    cursor: pointer;
    &:active {
        box-shadow: 3px 2px 22px 1px rgba(18, 161, 205, 0.46);
    }
    >div {
        top: 22px;
        left: 17px;
        position: absolute;
        width: 26px;
        height: 26px;
        border-left: 2px solid #91D0E4;
        border-top: 2px solid #91D0E4;
        transform: rotate(45deg);
    }
}
.right {transform: rotate(90deg);}
.left {transform: rotate(-90deg);}
