.orientation {
    >div {width: 90%;
        margin-left: auto;
        margin-right: auto;}
    >div:first-child {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
.prev {
    position: relative;
    h1 {
        top: 151px;
        left: 80px;
        width: 570px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 120px;
        color: #FFFFFF;
    }}
.title {
    overflow: hidden;
    text-align: center;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 80px;
    color: #91D0E4;
    padding-top: 50px;
    padding-bottom: 30px;
}
.title span {
    display: inline-block;
    vertical-align: middle;
}
.title:before,
.title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 305px;
    height: 2px;
    background-color: #91D0E4;
    position: relative;
}
.title:before {
    margin-left: -100%;
    left: -19px;
}
.title:after {
    margin-right: -100%;
    right: -19px;
}