.orientation {
    >div {width: 90%;
        margin-left: auto;
        margin-right: auto;}
    >div:first-child {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
.prev {
    position: relative;
    h1 {
        top: 135px;
        left: 85px;
        width: 570px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 120px;
        color: #FFFFFF;
        position: absolute;
    }
}
.title {
    overflow: hidden;
    text-align: center;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 80px;
    color: #91D0E4;
    padding-top: 50px;
    padding-bottom: 30px;

    span {
        display: inline-block;
        vertical-align: middle;
    }
    &:before,
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 305px;
        height: 2px;
        background-color: #91D0E4;
        position: relative;
    }
    &:before {
        margin-left: -100%;
        left: -19px;
    }
    &:after {
        margin-right: -100%;
        right: -19px;
    }
}